
/*button*/
.Btn{
padding: .5rem 1.5rem;
border: none;
box-sizing: border-box;
font-size: 1.5rem;
font-weight: bold;
transition: background-color 0.1s ease;
transition: color 0.1s ease;
transition: outline 0.1s ease;
text-decoration: none;
white-space: nowrap;
display:inline-block;
max-width:min-content;
/* max-width: fit-content; */
}

.U > *{
    margin: 20px 10px;
}
/*primary button*/
.Btn-primary{
    color: var(--Btn-primary-color);
    background-color: var(--Btn-primary-background-color);
    outline: 3px solid var(--Btn-primary-background-color);
}
.Btn-primary:hover {
    background-color: var(--Btn-primary-hover-background-color);
    outline: 3px solid var(--Btn-primary-hover-background-color);
}
  
.Btn-primary:focus {
    background-color: var(--Btn-primary-focus-background-color);
    outline: 3px solid var(--Btn-primary-focus-background-color) !important;
}
  
.Btn-primary:active {
    background-color: var(--Btn-primary-active-background-color);
    outline: 3px solid var(--Btn-primary-active-background-color) !important;
}
/*secondary button*/
.Btn-secondary{
    color: var(--Btn-secondary-color);
    background-color: var(--Btn-secondary-background-color);
    outline: 3px solid var(--Btn-secondary-background-color);
}
.Btn-secondary:hover {
    background-color: var(--Btn-secondary-hover-background-color);
    color: var(--Btn-secondary-hover-color);
    outline: 3px solid var(--Btn-secondary-hover-background-color);
}
  
.Btn-secondary:focus {
    background-color: var(--Btn-secondary-focus-background-color);
    color: var(--Btn-secondary-focus-color);
    outline: 3px solid var(--Btn-secondary-focus-background-color) !important;
}
  
.Btn-secondary:active {
    background-color: var(--Btn-secondary-active-background-color);
    color: var(--Btn-secondary-active-color);
    outline: 3px solid var(--Btn-secondary-active-background-color) !important;
}
/*success button*/
.Btn-success{
    color: var(--Btn-success-color);
    background-color: var(--Btn-success-background-color);
    outline: 3px solid var(--Btn-success-background-color) !important;
}
.Btn-success:hover {
    background-color: var(--Btn-success-hover-background-color);
    outline: 3px solid var(--Btn-success-hover-background-color) !important;
}

.Btn-success:focus {
    background-color: var(--Btn-success-focus-background-color);
    outline: 3px solid var(--Btn-success-focus-background-color) !important;
}

.Btn-success:active {
    background-color: var(--Btn-success-active-background-color);
    outline: 3px solid var(--Btn-success-active-background-color) !important;
}   
/*danger button*/
.Btn-danger{
    color: var(--Btn-danger-color);
    background-color: var(--Btn-danger-background-color);
}
.Btn-danger:hover {
    background-color: var(--Btn-danger-hover-background-color);
}

.Btn-danger:focus {
    background-color: var(--Btn-danger-focus-background-color);
}

.Btn-danger:active {
    background-color: var(--Btn-danger-active-background-color);
}

/*small button*/
.Btn-small{
    padding: 10px 20px;
}

/*large button*/
.Btn-large{
    padding: 30px 50px;
}

/*icon button*/
.Btn-icon{
    padding: 10px 20px;
}

/*icon small button*/
.Btn-icon-small{
    padding: 10px 15px;
    font-size: 1.2rem;
}

/*icon large button*/
.Btn-icon-large{
    padding: 15px 30px;
}

/*disabled button*/
.Btn-disabled{
    background-color: var(--Btn-disabled-background-color) !important;
    color: var(--Btn-disabled-color) !important;
    outline: 3px solid var(--Btn-disabled-background-color) !important;
}
.Btn-disabled:hover{
    background-color: var(--Btn-disabled-hover-background-color) !important;
    outline: 3px solid var(--Btn-disabled-background-color) !important;
}
.Btn-disabled:focus{
    background-color: var(--Btn-disabled-focus-background-color) !important;
    outline: 3px solid var(--Btn-disabled-background-color) !important;
}
.Btn-disabled:active{
    background-color: var(--Btn-disabled-active-background-color) !important;
    outline: 3px solid var(--Btn-disabled-background-color) !important;
}

/*selected button*/
.Btn-selected{
    background-color: var(--Btn-selected-background-color);
    color: var(--Btn-selected-color);
    outline: 3px solid var(--Btn-selected-background-color) !important;
}

.Btn-selected:hover{
    background-color: var(--Btn-selected-hover-background-color);
    color: var(--Btn-selected-color);
    outline: 3px solid var(--Btn-selected-hover-background-color) !important;
} 

.Btn-selected:focus{
    /* background-color: var(--Btn-selected-focus-background-color);
    color: var(--Btn-selected-color); */
    outline: 3px solid var(--Btn-selected-focus-background-color) !important;
}

.Btn-selected:active{
    /* background-color: var(--Btn-selected-active-background-color);
    color: var(--Btn-selected-color); */
    outline: 3px solid var(--Btn-selected-active-background-color) !important;
}

/*unselected*/
.Btn-unselected{
    background-color: var(--Btn-unselected-background-color);
    color: var(--Btn-unselected-color);
    outline: 3px solid var(--Btn-unselected-outline-color) !important;
}

.Btn-unselected:hover{
    /* background-color: var(--Btn-unselected-hover-background-color);
    color: var(--Btn-unselected-hover-color); */
    outline: 3px solid var(--Btn-unselected-outline-hover-color) !important;
}

   .Btn-unselected:focus{
    /* background-color: var(--Btn-unselected-focus-background-color);
    color: var(--Btn-unselected-focus-color);  */
    outline: 3px solid var(--Btn-unselected-outline-focus-color) !important;
} 

.Btn-unselected:active{
    /* background-color: var(--Btn-unselected-focus-background-color);
    color: var(--Btn-unselected-focus-color); */
    outline: 3px solid var(--Btn-unselected-outline-focus-color) !important;
}

/*disabled unselected button*/
.Btn-unselected.Btn-disabled{
    background-color: var(--Btn-disabled-background-color);
    color: var(--Btn-disabled-color);
    outline: 3px solid var(--Btn-disabled-background-color) !important;
}

a.Btn-icon:hover{
    color: var(--Btn-icon-hover-color);
}