h1,
h2, 
h3,
h4,
p,
p.p-sm,
p.p-bg{
    font-family: 'Times New Roman', Times, serif !important;
}
.Custom-Styles{
    /*Typeography*/
    /*h1*/
    --h1-font-size: 6em;
    /*h1-landing*/
    --h1-landing-font-size: 6em;
    /*h2*/
    --h2-font-size: 4em;
    /*h3*/
    --h3-font-size: 3em;
    /*h4*/
    --h4-font-size: 2em;
    /*p*/
    --p-font-size: 1.5em;
    /*p-sm*/
    --p-sm-font-size: 1em;
    /*p-bg*/
    --p-bg-font-size: 2em;
    /*Font Family*/
}

.theme-dark{
    /*background color*/
    --background-color: #1c1d20;
    background-color: var(--background-color) !important;
    /*primary color*/
    --Btn-primary-color: black;
    --Btn-primary-background-color: red;
    --Btn-primary-hover-background-color: #e60000;
    --Btn-primary-focus-background-color: #e60000;
    --Btn-primary-active-background-color: #cc0000;
    --Btn-primary-outline-color: red;
    /*secondary color*/
    --Btn-secondary-color: red;
    --Btn-secondary-background-color: transparent;
    --Btn-secondary-hover-background-color: transparent;
    --Btn-secondary-focus-background-color: transparent;
    --Btn-secondary-active-background-color: transparent;
    --Btn-secondary-hover-color: #e60000;
    --Btn-secondary-focus-color: #e60000;
    --Btn-secondary-active-color:#cc0000;
    --Btn-secondary-outline-color: transparent;
    /*success color*/
    --Btn-success-color: black;
    --Btn-success-background-color: rgb(0, 192, 0);
    --Btn-success-hover-background-color: #008000;
    --Btn-success-focus-background-color: rgb(0, 192, 0);
    --Btn-success-active-background-color: #008000;
    /*danger color*/
    --Btn-danger-color: black; 
    --Btn-danger-background-color: red;
    --Btn-danger-hover-background-color: #e60000;
    --Btn-danger-focus-background-color: #e60000;
    --Btn-danger-active-background-color: #cc0000;
    /*disabled color*/
    --Btn-disabled-color: red;
    --Btn-disabled-background-color: #660000;
    --Btn-disabled-hover-background-color: #660000;
    --Btn-disabled-focus-background-color: #660000;
    --Btn-disabled-active-background-color: #660000;
    /*selected color*/
    --Btn-selected-color: black;
    --Btn-selected-background-color: red;
    --Btn-selected-hover-background-color: #e60000;
    --Btn-selected-focus-background-color: #e60000;
    --Btn-selected-active-background-color: #cc0000;
    /*unselected color*/
    --Btn-unselected-color: red;
    --Btn-unselected-background-color: transparent;
    --Btn-unselected-hover-background-color: transparent;
    --Btn-unselected-focus-background-color: #e60000;
    --Btn-unselected-active-background-color: #cc0000;
    --Btn-unselected-hover-color: red;
    --Btn-unselected-focus-color: black;
    --Btn-unselected-active-color: black;
    --Btn-unselected-outline-color: red;
    --Btn-unselected-outline-hover-color: #e60000;
    --Btn-unselected-outline-focus-color: #e60000;
    --Btn-unselected-outline-active-color: #cc0000;
    /*Typeography*/
    /*h1*/
    --h1-color: red;
    --h1-background-color: transparent;
    /*h1-landing*/
    --h1-landing-color: Black;
    --h1-landing-background-color: red;
    /*h2*/
    --h2-color: red;
    /*h3*/
    --h3-color: red;
    /*h4*/
    --h4-color: red;
    /*p*/
    --p-color: red;
    /*p-sm*/
    --p-sm-color: red;
    /*p-bg*/
    --p-bg-color: red;
    /*Input Feilds*/
    /*input*/
    --input-color: red;
    --input-background-color: #000000;
    --input-background-hover-color: #660000;
    --input-background-focus-color: #660000;
    --input-background-active-color: #660000;
    --input-border-color: red;
    --input-border-hover-color: #e60000;
    --input-border-focus-color: #e60000;
    --input-border-active-color: #cc0000;
    /*Scroll bar*/
    --webkit-scrollbar-background-color: black; 
    --webkit-scrollbar-button-color: black;
    --webkit-scrollbar-track-background-color: black;
    --webkit-scrollbar-track-piece-background-color: red;  
    --webkit-scrollbar-thumb-background-color: black;
    --webkit-scrollbar-thumb-border-color: red; 
    --webkit-resizer-background-color: red;
    --webkit-scrollbar-corner-background-color:red;
    /*Modal*/
    --modal-head-background-color: black;
    --modal-backdrop-background-color: red;
    /*Section*/
    --section-background-color: black;
    
    --section-icon-color: black;
}
.theme-light{
    /*background color*/
    --background-color: #e7e8ec;
    background-color: var(--background-color);
    /*buttons*/
    
    /*Btn-primary color*/
    --Btn-primary-color: white;
    --Btn-primary-background-color: red;
    --Btn-primary-hover-background-color: #e60000;
    --Btn-primary-focus-background-color: #e60000;
    --Btn-primary-active-background-color:#cc0000;
    /*Btn-secondary color*/
    --Btn-secondary-color: red;
    --Btn-secondary-background-color: transparent;
    --Btn-secondary-hover-background-color: transparent;
    --Btn-secondary-focus-background-color: transparent;
    --Btn-secondary-active-background-color: transparent;
    --Btn-secondary-hover-color: #e60000;
    --Btn-secondary-focus-color: #e60000;
    --Btn-secondary-active-color:#cc0000;
    /*Btn-success color*/
    --Btn-success-color: white;
    --Btn-success-background-color: rgb(0, 192, 0);
    --Btn-success-hover-background-color: #009900;
    --Btn-success-focus-background-color: rgb(0, 192, 0);
    --Btn-success-active-background-color: #009900;
    /*Btn-danger color*/
    --Btn-danger-color: white;
    --Btn-danger-background-color: red;
    --Btn-danger-hover-background-color: #e60000;
    --Btn-danger-focus-background-color: #e60000;
    --Btn-danger-active-background-color: #cc0000;
    /*Btn-disabled color*/
    --Btn-disabled-color: white;
    --Btn-disabled-background-color: #ccc;
    --Btn-disabled-hover-background-color: #ccc;
    --Btn-disabled-focus-background-color: #ccc;
    --Btn-disabled-active-background-color: #ccc;
    /*Btn-selected color*/
    --Btn-selected-color: white;
    --Btn-selected-background-color: red;
    --Btn-selected-hover-background-color: #e60000;
    --Btn-selected-focus-background-color: #e60000;
    --Btn-selected-active-background-color: #cc0000;
    /*Btn-unselected color*/
    --Btn-unselected-color: red;
    --Btn-unselected-background-color: transparent;
    --Btn-unselected-hover-background-color: transparent;
    --Btn-unselected-focus-background-color: #e60000;
    --Btn-unselected-active-background-color: #cc0000;
    --Btn-unselected-hover-color: red;
    --Btn-unselected-focus-color: white;
    --Btn-unselected-active-color: white;
    --Btn-unselected-outline-color: red;
    --Btn-unselected-outline-hover-color: #e60000;
    --Btn-unselected-outline-focus-color: #e60000;
    --Btn-unselected-outline-active-color: #cc0000;
    /*--Btn-icon-color color*/
    --Btn-icon-hover-color: white;
    /*Typeography*/
    /*h1*/
    --h1-color: red;
    --h1-background-color: transparent;
    /*h1-landing*/
    --h1-landing-color: white;
    --h1-landing-background-color: red;
    /*h2*/
    --h2-color: red;
    /*h3*/
    --h3-color: red;
    /*h4*/
    --h4-color: red;
    /*p*/
    --p-color: red;
    /*p-sm*/
    --p-sm-color: red;
    /*p-bg*/
    --p-bg-color: red;
    /*Input Feilds*/
    /*input*/
    --input-color: red;
    --input-background-color: white;
    --input-background-hover-color: #f3f2f2;
    --input-background-focus-color: #f3f2f2;
    --input-background-active-color: #f3f2f2;
    --input-border-color: red;
    --input-border-hover-color: #e60000;
    --input-border-focus-color: #e60000;
    --input-border-active-color: #cc0000;
    /*Scroll bar*/
    --webkit-scrollbar-background-color: white; 
    --webkit-scrollbar-button-color: white;
    --webkit-scrollbar-track-background-color: white;
    --webkit-scrollbar-track-piece-background-color: red;  
    --webkit-scrollbar-thumb-background-color: white;
    --webkit-scrollbar-thumb-border-color: red; 
    --webkit-resizer-background-color: red;
    --webkit-scrollbar-corner-background-color:red;
    /*Modal*/
    --modal-head-background-color: white;
    --modal-backdrop-background-color: rgb(68, 0, 0);
    /*Section*/
    --section-background-color: #fafbff;
    --section-icon-color: white;
    }