/* conformation modal */

.modal-content {
    /* -webkit-box-shadow: 0px 0px 2px 2px #FFFFFF;
    box-shadow: 0px 0px 2px 2px red;
    border: none; */
    border: none;
}

.modal-backdrop {
  background-color: rgb(45, 0, 0) !important;
}

  .modal-head {
    display: block;
    padding: 2em 1em;
    text-align: center;
    background-color: var(--modal-head-background-color);
    border-bottom: 2px solid red;
    border-top: 10px solid red;
    /* color: white; */
  }

  .modal-head > span {
    color: red;
    font-size: 6em;
    font-weight: bold;
    margin: 2rem 0rem 0rem 0rem;
  }

  .modal-head h2 {
    margin: 1rem;
  }
  .modal-head > .modal-subheader{
    line-height: 40px;
    margin: 1rem 3rem;
  }
  
  .modal-body {
    padding: 2em 4em;
  }

  .modal-footer {
    border: none;
    display: block;
    background-color: var(--modal-head-background-color);
  }

  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

