/* conformation modal */
.pop-up-modal{ 
    display: none; /*Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.pop-up-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

  .modal-head {
    display: block;
    padding: 2em 1em;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid red;
    border-top: 10px solid red;
    color: white;
  }

  .modal-head > span {
    color: red;
    font-size: 6em;
    font-weight: bold;
    margin: 2rem 0rem 0rem 0rem;
  }

  .modal-head h2 {
    margin: 1rem;
  }
  .modal-head > .modal-subheader{
    line-height: 40px;
    margin: 1rem 3rem;
  }
  
  .modal-body {padding: 2em 4em;}

  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pop-up-modal-content {
        width: 85%;
    }

    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .pop-up-modal-content {
        width: 80%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pop-up-modal-content {
        width: 70%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pop-up-modal-content {
        width: 60%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .pop-up-modal-content {
        width: 50%;
    }
}