h1 {
    color: var(--h1-color);
    font-size: var(--h1-font-size);
    font-family: var(--h1-font-family);
    background-color: var(--h1-background-color);
}

h1.h1-landing {
    color: var(--h1-landing-color);
    font-size: var(--h1-landing-font-size);
    font-family: var(--h1-landing-font-family);
    background-color: var(--h1-landing-background-color);
}

h2 {
    color: var(--h2-color);
    font-size: var(--h2-font-size);
}

h3 {
    color: var(--h3-color);
    font-size: var(--h3-font-size);
}

h4 {
    color: var(--h4-color);
    font-size: var(--h4-font-size);
}

p {
    color: var(--p-color);
    font-size: var(--p-font-size);
}

p.p-sm{
    color: var(--p-sm-color);
    font-size: var(--p-sm-font-size);
}

p.p-bg{
    color: var(--p-bg-color);
    font-size: var(--p-bg-font-size);
}